.tags {
  display: inline;
  color: $primary-color;
  font-size: 12px;
  font-weight: 500;
  border: solid 0.5px $tags-border-color;
  border-radius: 11px;
  padding: 3px 7px 3px 7px;
  margin-right: 5px;
}

#scroll-to-main-button {
  display: none;
  font-weight: 700;
  font-size: 18px;
  width: 182px;
  text-align: center;
  text-decoration: none;
  color: #000;
  // display: block;
  margin: auto;
  background-color: $scroll-top-button-background;
  border-radius: 5px;
  padding: 6px 8px;
  cursor: pointer;
  position: fixed;
  left: 44%;
  z-index: 9999;
}
