
.tags{
    display: inline;
    color: $primary-color;
    font-size: 9px;
    font-weight: 500;
    border: solid .5px $tags-border-color;
    border-radius: 11px;
    padding: 3px 7px 3px 7px;
    margin-right: 5px;
    cursor: pointer; 
}

.tags:hover{
    background-color: $primary-color;
    color: white;
}