@media screen and (max-width: 600px) {
  //INDEX
  body {
    margin: unset;
  }
  .main-container {
    grid-template-columns: 1fr;
  }

  header {
    margin-top: 20px;
    a {
      width: 150px;
    }
  }

  .logo-index {
    width: 150px;
    height: unset;
  }

  .title {
    font-size: 14px;
  }

  .main-container {
    article {
      width: 100%;
    }
  }

  #scroll-to-main-button {
    position: relative;
    right: -8000px;
  }
  // PAGE PHOTOGRAPHES

  .header-pages {
    margin: unset;
    margin: 40px 20px;
  }

  .profile-insert {
    background-color: #fff;
    padding: unset;
    padding: 0 20px;
    margin: unset;
    width: 100%;
  }

  #photographer-name {
    font-size: 39px;
    min-width: 170px;
    margin: unset;
  }

  .container-profile__picture {
    width: 110px;
    height: 110px;
    margin: unset;
  }

  #container-portrait {
    margin: unset;
    position: relative;
    right: 80px;
    bottom: 10px;
  }

  .profile-insert .container-profile__information {
    margin: unset;
    margin-bottom: 20px;
    .location {
      font-size: 15px;
    }
  }

  .tagline {
    font-size: 13px;
    font-weight: 400;
    color: #757575;
    margin: unset;
    margin-top: 10px;
  }

  #tag-list {
    margin: unset;
    display: block;
    width: 300px;
  }
  .profile-insert .container-profile__tags {
    grid-area: unset;
    margin-bottom: 20px;

    .tags {
      font-size: 13px;
      border-radius: 12px;
      padding: 2px 4px;
      margin: unset;
    }
  }

  #contact {
    display: none;
    position: fixed;
    z-index: 99999;
    width: 170px;
    height: 15px;
  }

  .static-insert {
    display: none;
  }

  .sort-by {
    display: none;
  }
}
