@media screen and (max-width: 689px) {
  //INDEX
  body {
    margin: unset;
    overflow-x: hidden;
  }
  .main-container {
    grid-template-columns: 1fr;
    overflow-x: hidden;
  }

  header {
    margin-top: 20px;
    a {
      width: 150px;
    }
  }

  .logo-index {
    width: 150px;
    height: unset;
  }

  .title {
    font-size: 14px;
  }

  .main-container {
    article {
      width: 100%;
    }
  }

  .navigation-bar ul {
    padding: unset;
  }

  #scroll-to-main-button {
    position: relative;
    // right: -8000px;
  }
  // PAGE PHOTOGRAPHES

  .header-pages {
    margin: unset;
    margin: 40px 20px 30px 20px;
  }

  .profile-insert {
    background-color: #fff;
    padding: unset;
    padding: 0 20px;
    margin: unset;
    min-height: unset;
    // width: 100%;
  }

  #photographer-name {
    font-size: 39px;
    min-width: unset;
    width: 210px;
    margin: unset;
    margin-bottom: -5px;
  }

  #portrait {
    width: inherit;
    height: inherit;
  }

  #container-portrait {
    width: 100px;
    height: 100px;
    margin: unset;
    box-shadow: 0px 0px 12px 7px rgb(0 0 0 / 10%);
    margin: unset;
    position: relative;
    right: 30px;
    bottom: 10px;
  }

  .profile-insert .container-profile__information {
    margin: unset;
    margin-bottom: 8px;
    .location {
      font-size: 15px;
    }
  }

  .tagline {
    font-size: 13px;
    font-weight: 400;
    color: #757575;
    margin: unset;
    margin-top: 5px;
  }

  #tag-list {
    // position: unset;
    margin: unset;
    display: block;
    width: 100%;
    padding: unset;
  }

  .profile-insert .container-profile__tags {
    grid-area: unset;
    margin-bottom: 50px;

    .tags {
      font-size: 13px;
      border-radius: 11px;
      padding: 2px 4px;
      margin: unset;
      margin-right: 5px;
    }
  }

  .profile-insert .container-profile__button {
    display: block;
    position: fixed;
    left: 25%;
    bottom: 20px;
    margin: unset;
    padding: 10px;
    z-index: 999;
    top: unset;
    right: unset;
  }

  .static-insert {
    display: none;
  }

  .sort-by {
    display: none;
  }

  #main {
    display: flex;
    justify-content: center;
  }

  #portfolio {
    margin: unset;
    width: unset;
  }
  .photo {
    height: 200px;
    margin-bottom: -20px;
  }

  .portfolio--photo-container {
    // padding-bottom: unset;
    justify-content: center;
    margin-left: unset;
  }
  .photo-picture {
    height: 200px;
    width: inherit;
    object-fit: cover;
    text-align: center;
  }

  .photo-footer {
    margin-top: unset;

    &__title {
      font-size: 17px;
    }
    &__likes {
      margin-top: 5px;
      font-size: 17px;
    }
  }

  // Modal de contact
  #modale {
    margin-top: 40px;
    padding-left: 20px;
    height: 100%;
    width: 90%;
    position: fixed;
    padding: 20px;
    padding-right: 30px;
    border-radius: 10px;
    overflow-x: scroll;
  }

  #modal-form #submit {
    padding: 5px 50px;
    width: auto;
    display: block;
    margin: auto;
  }

  //Lightbox

  #photo-video-container {
    width: 100%;
  }

  #container-img-button-lightbox {
    margin-left: 10px;
  }

  #image-clicked,
  #video-clicked {
    width: inherit;
    margin: unset;
  }

  .lightbox__close {
    margin: unset;
    left: -35px;
    transform: scale(0.5);
  }

  .lightbox__next {
    transform: scale(0.5);
  }
  .lightbox__prev {
    transform: scale(0.5) rotate(180deg);
  }

  #title-of-picture-selected {
    margin-left: 40px;
    font-weight: 400;
    font-size: unset;
  }

  .container {
    overflow-x: hidden;
  }
}
