@media screen and (max-width: 850px) {
  header {
    grid-template-areas:
      "logo title title title "
      "navbar navbar navbar navbar";
  }

  .main-container {
    grid-template-columns: repeat(2, 1fr);
    article {
      width: 50%;
    }
  }

  .title {
    justify-self: end;
  }

  .navigation-bar {
    margin-top: 20px;
  }

  #scroll-to-main-button {
    left: 35%;
  }

  // Photographer Page

  .header-pages {
    margin: unset;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
  }

  .profile-insert {
    margin: unset;
    // width: 100%;
    min-height: 250px;
  }

  .container-profile__picture {
    width: 200px;
    height: 200px;
  }

  #container-portrait {
    position: relative;
    right: 50px;
    bottom: 20px;
  }

  #tag-list {
    position: absolute;
    margin-right: 20px;
  }

  .profile-insert .container-profile__button {
    position: absolute;
    right: 50px;
    top: 400px;
  }

  .sort-by {
    margin: unset;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .portfolio--photo-container {
    margin: unset;
  }

  .static-insert {
    top: 0;
    bottom: unset;
    right: 100px;
    border-radius: 0 0 5px 5px;
  }

  //MODALE

  #container-modale {
    margin-left: -50px;
  }
  #modale {
    width: 60%;
  }

  //Lightbox

  #lightbox {
    overflow-x: hidden;
  }

  #photo-video-container {
    width: 100%;
    text-align: center;
  }

  #container-img-button-lightbox {
    text-align: center;
    width: 100%;
  }

  #container-for-picture-selected {
    display: block;
    width: 100%;
    margin-left: 20px;
  }
  #image-clicked,
  #video-clicked {
    max-width: 100%;
    height: auto;
    margin: unset;
  }

  #title-of-picture-selected {
    font-weight: 400;
    font-size: 26px;
    margin-left: unset;
    margin-left: 40px;
  }

  .lightbox__close {
    left: -20px;
  }

  .container {
    overflow-x: hidden;
  }
}
