#container-img-button-lightbox {
  display: flex;
  z-index: inherit;
  border: none;
  align-content: flex-start;
}

#image-clicked {
  max-height: 700px;
  text-align: center;
  border-radius: 5px;
  margin: 0 25px;
}

#video-clicked {
  max-height: 700px;
  display: block;
  border-radius: 5px;
  margin: 0 25px;
}

.lightbox__next,
.lightbox__prev {
  background: url("../img/arrow.svg") center center / 100% 100%;
  width: 50px;
  text-indent: -8000px;
  border: none;
  cursor: pointer;
}

.lightbox__prev {
  transform: rotate(180deg);
}

.lightbox__close {
  border: none;
  display: flex;
  justify-content: center;
  background: url("../img/cross.svg") no-repeat;
  margin: 5px;
  margin-top: 10px;
  margin-left: -10px;
  height: 35px;
  width: 35px;
  text-indent: -8000px;
  position: relative;
  top: 0;
  left: -50px;
  cursor: pointer;
}

#title-of-picture-selected {
  font-size: 18px;
  color: $primary-color;
  margin: unset;
  margin-top: 10px;

  margin-left: 75px;
}
