#container-for-picture-selected {
  display: flex;
  z-index: inherit;
  border: none;
  align-content: flex-start;
}

#image-clicked {
  height: 500px;
  text-align: center;
  border-radius: 5px;
}

#video-clicked {
  height: 500px;
  display: block;
  border-radius: 5px;
}

.lightbox__next,
.lightbox__prev {
  background: url("../img/arrow.svg") center center / 100% 100%;
  width: 50px;
  text-indent: -8000px;
  border: none;
}

.lightbox__prev {
  transform: rotate(180deg);
}

.lightbox__close {
  border: none;
  display: flex;
  justify-content: center;
  background: url("../img/cross.svg") no-repeat;
  margin: 5px;
  height: 35px;
  width: 35px;
  text-indent: -8000px;
  position: relative;
  top: 0;
  left: -50px;
}

#title-of-picture-selected {
}
