@import "./variables";
@import "./typography";
@import "./mixins";
@import "./photographer-page";
@import "./components";
@import "./lightbox.scss";

// * {
//   border: 1px solid grey;
// }
body {
  @include dm-sans;
}

// .container{
//     // grid-template-columns: repeat(4,1fr);
//     // grid-template-rows: repeat(3, 1fr);
//     // grid-template-areas:
//     // "header header title title";
// }

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas: "logo navbar navbar title";
  // margin-left: 100px;
  padding: 20px;
  margin-top: unset;
  a {
    text-decoration: none;
  }
}

.logo-index {
  grid-area: logo;
  width: inherit;
  display: inline;
  width: 200px;
  height: 50px;
}

#logo-full {
  display: none;
}

.navigation-bar {
  display: inline;
  grid-area: navbar;
  text-align: center;
  ul {
    display: inline;
    padding-inline-start: 0;
    line-height: 30px;
  }
  &__tags {
    display: inline;
    color: $primary-color;
    font-size: 12px;
    font-weight: 500;
    border: solid 0.5px $tags-border-color;
    border-radius: 11px;
    padding: 3px 7px 3px 7px;
    margin-right: 5px;
    cursor: pointer;
  }
  .active {
    background-color: $primary-color;
    color: white;
  }
}

.title {
  grid-area: title;
  display: inline;
  color: $primary-color;
  font-weight: 400;
  font-size: 36px;
  margin: unset;
}

.main-container {
  // grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  margin-bottom: 87px;
  margin-top: -20px;
}

.container-profile {
  width: 30%;
  text-align: center;
  a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: unset;
  }
  &__picture {
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    @include box-shadow;
  }
  &__name {
    grid-area: names;
    margin: unset;
    font-size: 36px;
    font-weight: 400;
    color: $profile-name-color;
  }
  &__information {
    grid-area: infos;

    .location {
      color: $primary-color;
      font-size: 15px;
      font-weight: 400;
      margin: unset;
    }
    .quote {
      margin: unset;
      margin-top: 3px;
      font-size: 13px;
      font-weight: 400;
    }
    .prices {
      color: $prices-color;
      font-weight: 400;
      font-size: 12px;
      margin: unset;
      margin-top: 3px;
    }
  }
  &__tags {
    grid-area: tags;
    ul {
      margin: unset;
      margin-top: 8px;
    }
  }
}

ul {
  padding-inline-start: 0;
}

@import "./tablet-resolution";
@import "./mobile-resolution";
