@media screen and (max-width: 600px)// mobile
{

    // PAGE INDEX 

    .main-container{
        grid-template-columns: 1fr;
    }

    header a {
        width: 150px;
    }

    .title{
        font-size: 14px ;
        
    }




    // PAGE PHOTOGRAPHES
}